:root {
  /* bg colors*/
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-electric: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
  --color-gradient: linear-gradient(to top right, #ff6e42 30%, #ffff05 100%);
}
body {
  font-family: "Poppins", sans-serif;
  max-width: 12000px;
  min-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 0px;
  position: fixed;
  top: 0;
  background-color: #0f1525;
  z-index: 10000;
}

.logo {
  height: 300%;
}
.cart_icon {
  height: 80%;
}
.navbar,
.navbar-list {
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 30px;
}
.navbar-list li:hover {
  transition: all 0.3s ease-in-out;
  transform: rotate(-3deg) scale(1.04);
}
.navbar-list {
  transition: all 0.3s ease-in-out;
}
.navbar-list a {
  color: var(--text-gray);
  font-size: 15px;
}

.navbar-list li:first-child > a {
  color: var(--text-white);
  font-weight: 600;
}

.cart_icon {
  font-weight: 600;
  border-radius: 10px;
  height: 50px;
  padding: 10px 15px;
  margin-right: 1rem;
  color: var(--text-white);
  cursor: pointer;
  border: 1px solid white;
}

main {
  background-color: var(--nav-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #adb9c7;
  width: 100%;
  height: auto;
}
#hero {
  background-image: url(fondo_auto/pexels-natasha-filippovskaya-4665711.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 65px;
  padding: 70px 0px;
  width: 100%;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  max-width: 12000px;
}
.hero_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.hero_info h1 {
  font-size: 49px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  background: #ff6e42;
  background: linear-gradient(to top right, #ff6e42 30%, #ffff05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_info p {
  font-size: 23px;
  width: 70%;
  color: var(--text-white);
  font-family: "Kameron", serif;
}

.hero_info h2 {
  display: flex;
  text-align: center;
}

.hero_info a {
  color: var(--text-white);
  background-color: #1e50ff;
  width: 120px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

.hero_card {
  width: 450px;
  height: 450px;
  padding: 20px;
  border-radius: 15px;
  justify-content: center;
}
.hero_card img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 4px 8px;
}
.hero_container {
  width: 300px;
  display: flex;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}
.hero_container a:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(5px) scale(1.04);
}

.hero_content {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  border-radius: 15px;
  justify-content: center;
  padding: 25px 10px;
  width: 1000px;
}

#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
#info h2 {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-white);
}
.info_cards_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.info_cards img {
  width: 50px;
  border-radius: 25px;
}
.info_cards_container .info_cards {
  width: 300px;
  height: 400px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background: var(--secondary);
  gap: 20px;
  border-radius: 9px;
}
.info_cards ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.info_cards h3 {
  font-weight: 600;
  font-size: 18px;
}
.info_cards p {
  font-size: 14px;
  font-weight: 200;
  color: var(--text-gray);
}
footer {
  background: var(--background);
  color: var(--bg-azul-10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 0;
}
footer a,
footer p {
  color: var(--text-gray);
  font-weight: 300;
  font-size: 14px;
}
footer span {
  font-weight: 800;
}
.footer_link {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#productos {
  background-size: cover;
  background-position: center;
  margin-top: 65px;
  padding: 70px 0px;
  width: 100%;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.servicios_especiales {
  background: rgba(10, 77, 144, 0.25);
  box-shadow: 0 8px 32px 0 rgba(7, 22, 222, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: stretch;
  width: 65%;
  padding: 25px 0px;
  flex-direction: column;
  height: auto;
  gap: 20px;
}

.info_productos img {
  width: 500px;
  padding: 20px;
  border-radius: 15px;
  height: 500px;
  padding: 4px 8px;
  object-fit: cover;
  min-width: 500px;
}
.service_info p {
  font-size: 20px;
  color: var(--bg-azul-10);
  font-family: "Wallpoet", cursive;
  padding-left: 30px;
  padding-bottom: 20px;
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  text-shadow: rgb(11, 44, 235) 1px 0px 0px,
    rgb(11, 44, 235) 0.540302px 0.841471px 0px,
    rgb(11, 44, 235) -0.416147px 0.909297px 0px,
    rgb(11, 44, 235) -0.989992px 0.14112px 0px,
    rgb(11, 44, 235) -0.653644px -0.756802px 0px,
    rgb(11, 44, 235) 0.283662px -0.958924px 0px,
    rgb(11, 44, 235) 0.96017px -0.279415px 0px;
  font-size: 42px;
  color: var(--text-white);
}
.info_servicios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.service_info {
  width: auto;
}
.marca {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.marca img {
  width: 115px;
}
