:root {
  /* bg colors*/
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-electric: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* header */

header {
  background: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px;
}

.logo {
  height: 60%;
}
.cart_icon {
  height: 80%;
}
.navbar,
.navbar-list {
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--text-gray);
  font-size: 12px;
}
